<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/navstyle.css">
    <link rel="stylesheet" href="/static/css/aboutstyle.css">
</head>
<body>
    <div class="container">
        <div class="container d-flex justify-content-center">
            <nav class="navbar navwidth">
                <a class="btn nav-links shadow" href="/">home</a>
                <a class="btn nav-links shadow" href="/services">services</a>
                <a class="btn nav-links shadow" href="/contact">contact</a>
                <a class="btn nav-links shadow" href="/blog">blog</a>
                <a class="btn nav-links shadow" href="https://squareup.com/appointments/book/jot6jauaamrrud/LWWXR80ET4ZA3/services" target="_blank">online booking</a>
                {%if "user_id" in session%}
                    <a class="btn nav-links shadow" href="/logout">logout</a>
                {%else%}
                    <a class="btn nav-links shadow" href="/login_sign_up">login / sign-up</a>
                {%endif%}
            </nav>
        </div>
        <div class="container d-flex justify-content-around pt-5">
            <img src="/static/img/owner.jpg" alt="Picture of Owner">
            <h3>Hi everyone! My name is Samantha Camastro, <br> I am the owner of Lashing Out Beauty Studio. <br> 
                I have wanted to own my own salon for <br> as long as I can remember. <br> 
                My favorite part of my job is making people feel beautiful. <br> 
                I am a master stylist in lashes, brows, and makeup. <br> Over the years I have received more than 10 <br> different certifications. <br> 
                Here at Lashing Out Beauty Studio you will get the <br> highest quality work that is customized to your <br> unique style and needs!</h3>
        </div>
    </div>
</body>
</html>