<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="container d-flex justify-content-center">
            <nav class="navbar navwidth">
                <a class="btn nav-links shadow" href="/">home</a>
                <a class="btn nav-links shadow" href="/services">services</a>
                <a class="btn nav-links shadow" href="/about">about</a>
                <a class="btn nav-links shadow" href="/contact">contact</a>
                <a class="btn nav-links shadow" href="https://squareup.com/appointments/book/jot6jauaamrrud/LWWXR80ET4ZA3/services" target="_blank">online booking</a>
                {%if "user_id" in session%}
                    <a class="btn nav-links shadow" href="/logout">logout</a>
                {%else%}
                    <a class="btn nav-links shadow" href="/login_sign_up">login / sign-up</a>
                {%endif%}
            </nav>
        </div>

    </div>
</body>
</html>